.followButton {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-size: 14px;
    transition: 0.3s;
  }
  
  .following {
    background-color: gray;
  }
  