.container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.formContainer, .registerContainer {
    width: 100%;
    max-width: 380px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(219, 219, 219, 1);
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.formContainer form{
    padding: 0px;
    box-shadow: none;
    max-width: 100%;
  }

.logoContainer {
    display: flex;
    justify-content: center;
}

.logo {
    width: 180px;
}

.subtitle {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
    text-align: center;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.button {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background: #2563eb;
}

.infoText, .termsText {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 10px;
}

.infoText a, .termsText a {
    color: #3b82f6;
    text-decoration: none;
}

.infoText a:hover, .termsText a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.registerContainer {
    margin-top: 15px;
}

.registerContainer p {
    font-size: 14px;
    color: black;
}

.link {
    color: #3b82f6;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

@media (max-width: 1100px) {
    .container {
        margin-top: 50px; 
    }
    .formContainer, .registerContainer {
        max-width: 450px;
    }
    .formContainer form{
        gap: 5px;
    }
}

@media (max-width: 770px) {
    .container {
        margin-top: 70px;
    }
    .formContainer, .registerContainer {
        max-width: 80%;
    }
    .formContainer{
        padding: 10px;
    }
    .logo {
        width: 100px;
    }
    .input{
        font-size: 12px;
        margin: 0;
    }
    .subtitle {
        font-size: 14px;
        margin: 5px 0 10px;
    }
    .infoText{
        font-size: 10px;
        margin-top: 5px;
    }
}

@media (max-width: 480px) {
    .container {
        height: auto;
        padding: 15px;
        margin-top: 30px;
    }

    .formContainer, .registerContainer {
        width: 100%;
        padding: 1.5rem;
    }

    .logo {
        max-width: 120px;
    }

    .input {
        padding: 10px;
    }

    .button {
        padding: 10px;
    }
}
