.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
  }
  
  .formContainer, .loginContainer {
    width: 350px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .formContainer h1{
    font-size: 16px;
    color: rgba(0, 0, 0, 1);

  }

  .formContainer {
    font-size: 14px;
    color: rgba(115, 115, 115, 1);
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .image {
    max-width: 100px;
  }
  
  .title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .button:hover {
    background: #2563eb;
  }
  
  .message {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
  }
  
  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    position: relative;
  }
  
  .separator::before,
  .separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
  }
  
  .orText {
    color: #666;
    font-size: 14px;
  }
  
  .link {
    display: block;
    margin-top: 10px;
    color: #3b82f6;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .loginContainer {
    margin-top: 20px;
    text-align: center;
  }
  
  .backToLogin {
    color: #3b82f6;
    text-decoration: none;
    font-weight: bold;
  }
  
  .backToLogin:hover {
    text-decoration: underline;
  }
  